.forum{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
  gap: .8rem;
}
.posts{
  width: 10rem;
  height: calc(10rem/3*4);
  border: 1px solid gray;
  border-radius: .5rem;
  box-shadow: 1px 1px 8px -2px;
}
.cover img{
  width: 10rem;
  height: calc(10rem/16*9);
  border-radius: .5rem;
}
.posts .body{
  
}
.posts .body div{
  padding: .3rem;
}
.posts .title span{
  
}
.posts .content{
  font-size: .6rem;
  color: gray;
}
.information{
  font-size: .5rem;
  left: -2rem;
}
.information span{
  margin-right: .4rem;
}