.main .infoBackground{
  width: 100%;
  height: 10rem;
  background: white url("https://s21.ax1x.com/2024/06/21/pkDO3Bd.jpg") 0 -2rem no-repeat;
  background-size: cover;
}
.info .avatar{
  display: inline;
}
.info .avatar img{
  height: 8rem;
  border-radius: 100%;
  position: relative;
  top: -.5rem;
  margin: 0 1rem;
}
.info .creativeInfo{
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  left: 9.5rem;
  top: 14.5rem;
}
.creativeInfo .follow,.creativeInfo .fans{
  border-right: 1px solid #000000D0;
}
.follow span,.fans span,.like span{
  display: block;
}
.follow .followText,.fans .fansText,.like .likeText{
  font-size: .5rem;
  color: #000000D0;
}
.follow .followNum, .fans .fansNum,.like .likeNum{
  font-size: 1rem;
}
.info .followMe{
  display: inline;
  grid-column: 1/4;
  padding: 1rem;
}
.followMe button{
  height: 2rem;
  width: 10rem;
  border: 1px solid #FF439B;
  border-radius: 3px;
  font-size: 1rem;
  color: #FF8ED5;
}
.info .name{
  margin: .5rem 1rem;
  font-size: 2.2rem;
}
.info .briefIntroduction{
  margin: .5rem 1rem;
  color: #00000082;
}
.briefIntroduction span {
  font-size: .8rem;
}
.briefIntroduction a{
  color: #00000082;
}
.info .functional{
  margin: .5rem 1rem;
  border-top: 1px solid #00000082;
  border-bottom: 1px solid #00000082;
}
.functional a{
  font-size: 1rem;
  margin: .5rem 1rem;
  color: #00000082;
 }
.friendLinkContainer>div{
   margin: 1rem .8rem;
 }
.friendLinks{
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto auto;
}
.linkTitle{
  margin: 1rem 0;
  font-size: 2rem;
}
.friendLink h2{
  font-size: 1.4rem;
  display: inline;
}
.friendLinks{
  box-shadow: 0 0 10px 1px #B2B2B27D;
  border-radius: 5px;
  display: flex;
}
.friendLinks .linkInfo{
  margin: auto 1rem;
}
.linkInfo h3{
  font-size: .8rem;
  line-height: 1.1rem;
}
.friendLinks h4{
  font-size: .6rem;
  line-height: 1.1rem;
  color: #00000082;
}
.friendLinks .linkIcon{
  margin: .5rem;
  height: 2.5rem;
}
.linkIcon img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
.noContent{
  font-size: 1rem;
  text-align: center;
  display: block;
  box-shadow: 0 0 10px 1px #B2B2B27D;
  border-radius: 5px;
  padding: 1.2rem 0;
  background-color: #00000050;
  margin: 1rem 0;
}
.contactInfo{
  
}
.contactInfo .contactInfos{
  box-shadow: 0 0 10px 1px #B2B2B27D;
  border-radius: 5px;
  margin: .8rem;
}
.contactInfos a{
  display: flex;
}
.contactInfos .contactId{
  margin: auto 0;
}
.contactId span{
  font-size: 1.2rem;
}
#email{
  font-size: .6rem;
}
.contactInfos .appIcon{
  margin: 1rem;
}
.contactInfos .appIcon i{
  font-size: 3.5rem;
}