body{
  background-color: #FFFFFF00;
  -webkit-tap-highlight-color: transparent;
}
.a{
  background-color: #00000030;
  box-shadow: 0 0 5px 1px pink;
  border-radius: 5px;
  margin: 10px;
}
a:link{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:active{
  text-decoration: underline;
}
.f{
  display: inline-grid;
  grid-template-columns: auto auto;
}
body,div,b,p,ul,li,h1,h2,a{
 padding: 0px;
 margin: 0px;
 color: white;
}
.img{
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px #FF9030;
}
p{
  font-size: 1em;
  margin: 5px 0;
}
.name{
  margin-right: 2px;
}