footer{
  position: absolute;
  bottom: 0;
}
.linkBox{
  width: 100%;
}
.linkBox .link{
  width: 18rem;
  margin: 5rem auto;
  box-shadow: 0 0 10px #00000094;
  border-radius: 10px;
  padding: 20px;
}
.linkText{
  
}
.linkUrl{
  word-wrap:break-word;
  margin: 20px;
  color: blue;
}
.standingRow{
  height: 2.5rem;
}
.remind{
  background-color: orangered;
  margin: 2.5rem 0;
  padding: 10px;
  border-radius: 5px;
  font-size: .8rem;
  color: white;
}
.linkButton{
  display: grid;
  padding: 5px;
  border-radius: 5px;
  border: solid;
  margin-left: auto;
  margin-top: 2.5rem;
  padding: 10px 15px;
}