.loadPage{
  text-align: center;
  position: fixed;
  float: none;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: white;
}
.loadPage .loading{
  display: inline-block;
  margin-top: 40vh;
  
}
.loadPage .loading div{
  width: 50px;
  height: 50px;
  border: 4px solid #42445A;
  border-top-color: transparent;
  border-radius: 100%;

  animation: circle infinite 0.75s linear;
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadPage .loading span{
  
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:active{
  text-decoration: underline;
}
a,button{
  color: black;
  -webkit-tap-highlight-color: transparent;
}
button:hover,button:active{
  box-shadow: 1px 1px 8px -2px;
}
.naver{
  height: 6vh;
}
.nav{
  background-color: white;
  width: 100%;
  height: 6vh;
  box-shadow: 0 0 20px -1px;
  position: fixed;
  display: inline-block;
  float: left;
  left: 0;
  z-index: 1000;
}
.menu>div{
  background-color: white;
  width: 30vw;
  box-shadow: 5px 5px 10px -10px;
  border-bottom-right-radius: 5px;
  position: fixed;
  display: inline-block;
  float: left;
  left: 0;
  display: none;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  z-index: 1001;
}
.logo{
  display: inline;
}
.logo img{
  height: 5vh;
  border-radius: 100%;
  margin: .5vh 1vw;
}
.logo h1{
  position: relative;
  top: -2vh;
  font-size: 3vh;
  color: #339BFF;
  text-shadow: 0 0 8px #339BFF;
  display: inline;
}
.menuButton{
  display: inline;
  float: right;
}
.menuButton > button{
  box-shadow:none;
}
button{
  padding: 0;
  border: none 0;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  box-shadow:none;
}
.menu{
  
}
.menuButton button{
  margin: .5vh 1vw;
}
.menuButton button svg{
  height: 5vh;
}
.menu div ul li a div{
  padding: 10px 20px;
}
@keyframes displayMenu{
  from {
    transform: translate(-35vw);
  }
  to {
    transform: translate(0);
    display: block;
  }
}
@keyframes hideMenu{
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-35vw);
    display: none;
  }
}

footer>div{
  padding: 2vh 4vw;
  box-shadow: inset 0 1px 10px 0 #000000A8;
}
footer .statement{
  font-size: 1.5vh;
}
.briefIntroduction span{
  font-size: 1em;
}
@font-face {
  font-family: "ali";
  src: 
  url("../font/ali.woff2") format("woff2"),
  url("../font/ali.woff") format("woff");
  font-display: swap;
}
*{
  font-family: "ali",sans-serif !important;
}