.video iframe{
  width: 100%;
  height: calc(100vw/16*9);
}
.information{
  margin: 1rem .8rem;
}
.information .name{
  margin: .5rem 0;
  font-size: 1.5rem;
  display: block;
}
.information span{
  font-size: .7rem;
  margin-right: .7rem;
}
.title{
  font-size: 1.2rem;
  margin: .5rem;
}
.article{
  margin: 1rem .8rem;
  font-size: .8rem;
  color: gray;
  line-height: 1rem;
}