.video{
  
}
.video iframe{
  width: 96vw;
  height: 54vw;
  border-radius: .5rem;
  margin: 5px 2vw;
}
.nameAbout{
  padding: 5px 0;
}
.name{
  font-size: 1rem;
}
.about{
  font-size: .6rem;
  line-height: 1rem;
  margin: .6rem;
  opacity: 0.5;
}