<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="referrer" content="same-origin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="MCWXT的个人博客,MCWXT,Web,Blog,Personal blog">
  <meta name="description" content="MCWXT的个人博客。友链，资源，论坛，文章，视频各种功能一应俱全！">
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <link rel="manifest" href="/data/manifest.json" />
  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/loading.css">
  <script src="//unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="//unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>
  <title>MCWXT的个人博客</title>
</head>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
    }
  }
</script>
<!-- prod.js -->
<style>
  iframe {
    height: 0;
  }

  footer * {
    color: dimgray;
  }

  .navHeight {
    height: 3rem;
  }
</style>

<body id="app">
  <header>
    <div class="navHeight">
      <nav class="navbar fixed-top w-100 border-bottom bg-w p-1 z-2 navHeight">
        <div>
          <button class="fs-3 mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="bi bi-list"></i>
          </button>
          <h1 class="d-inline-block align-middle fs-6">MCWXT的个人博客</h1>
        </div>
        <div>
          <a href="/login"><img class="d-inline-block rounded-circle" style="width: 2.5rem;aspect-ratio: 1/1;" src="/assets/img/logo.png" alt=""></a>
        </div>
        <div class="offcanvas offcanvas-start w-75" tabindex="-1" id="offcanvasExample" data-bs-scroll="true" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <div class="fs-5 mx-auto fw-bolder" style="font-family: sans-serif!important;">
              <span class="me-1">MC</span>
              <span class="px-1 rounded-1 text-light" style="background-color: #FE9900;">WXT</span>
            </div>
          </div>
          <hr class="mx-4 my-0">
          <div class="offcanvas-body p-2 px-4">
            <div class="list-tao-group mt-4">
              <a class="list-tao-item ps-3 py-1 my-1 link-secondary" :class="{ 'bg-body-tertiary': app.router.path == item.page }" v-for="item in nav" :href="item.page" data-bs-dismiss="offcanvas" aria-label="Close">
                <span>{{item.pageName}}</span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="h-100 w-100 fixed-top text-center z-1 text-bg-light" @touchmove="app.stopScroll" v-show="app.loading">
    <div class="loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <main :style="`min-height: 20rem;height: ${app.height}px;`">
    <iframe class="w-100 h-100" :onload="onload" :key="app.src" :src="app.src" scrolling="no" frameborder="0"></iframe>
  </main>
  <footer class="text-bg-light">
    <div class="p-3">
      <div>
        <span class="fw-bold fs-4">MCWXT</span>
      </div>
      <div>
        <span>感谢访问我的博客！</span>
      </div>
      <div class="my-3 ps-1 fs-4">
        <a :href="link.link" v-for="link in myLink"><i class="bi me-3" :class="link.icon"></i></a>
      </div>
      <div class="fs-7">
        <span>感谢：</span>
        <ul>
          <li><a href="//halo.nekoline.top/">离散的流云</a></li>
          <li><a href="//remcbbs.com/">REmcbbs</a></li>
          <li><a href="//github.com/">github</a></li>
          <li><a href="//cloudflare.com/">cloudflare</a></li>
          <li><a href="//bilibili.com">bilibili</a></li>
        </ul>
      </div>
      <hr class="my-1" />
      <div class="fs-7">
        <div>
          <ul>
            <li><a href="https://www.w3.org/zh-hans/">w3c</a></li>
            <li><a href="https://www.mozilla.org/privacy/websites/#cookies">cookie</a></li>
            <li><a href="https://developer.mozilla.org/zh-CN/docs/Web/API/Window/localStorage">localStorage</a></li>
          </ul>
        </div>
        <i class="bi bi-c-circle"></i>
        <span>2024.5 -</span>
        <span>本网站产权归bilibili MCWXT所有</span>
      </div>
    </div>
  </footer>
</body>
<script src="/script/main.js" type="module"></script>

</html>