@import url("https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.css");
@import url("https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/toastr.js/2.1.4/toastr.min.css");

* {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-position: top;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.btn:hover,
.btn:active {
  box-shadow: 1px 1px 8px -2px;
}

.bg-w {
  background-color: white;
}

.list-tao-group .list-tao-item {
  display: block;
  text-decoration: none;
  border-radius: .2em;
}

.list-tao-group .list-tao-item:hover {
  background-color: var(--bs-tertiary-bg);
}

.list-tao-group .list-tao-item:active {
  background-color: var(--bs-tertiary-bg);
}
.fs-7 {
  font-size: .8rem;
}
.fs-8 {
  font-size: .6rem;
}