<header>
  <div class="navHeight">
    <my-nav class="navbar fixed-top w-100 border-bottom bg-white p-1 z-2 navHeight"></my-nav>
  </div>
</header>
<main class="bg-white">
  <router-view></router-view>
</main>
<footer>
  <div class="p-3">
    <div>
      <span class="fw-bold fs-4">MCWXT</span>
    </div>
    <div>
      <span>感谢访问我的博客！</span>
    </div>
    <div class="fs-7 mt-2">
      <div>
        <ul>
          <li><a href="https://www.w3.org/zh-hans/">w3c</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/#cookies">cookie</a></li>
          <li><a href="https://developer.mozilla.org/zh-CN/docs/Web/API/Window/localStorage">localStorage</a></li>
        </ul>
      </div>
      <i class="bi bi-c-circle"></i>
      <span>2024.5 -</span>
      <span>本网站产权归bilibili MCWXT所有</span>
    </div>
  </div>
</footer>