<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base target="_parent">
  <meta name="referrer" content="no-referrer">
  <meta name="keywords" content="MCWXT的个人博客,MCWXT,Web,Blog,Personal blog">
  <meta name="description" content="MCWXT的个人博客。友链，资源，论坛，文章，视频各种功能一应俱全！">
  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/style.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
  <title>MCWXT的个人博客|论坛</title>
</head>
<style>

</style>

<body>
  <div id="carouselExample" class="carousel slide mb-2" data-bs-ride="carousel" style="height: 14rem;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div  class="carousel-inner">
      <div v-for="carouselImg" data-in="imgSrc" class="carousel-item active">
        <img src="{{imgSrc}}" class="d-block w-100" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>

  <div class="d-flex justify-content-md-start justify-content-center flex-wrap">
    <div v-for="bvid" data-in="bvid cover title content time view like" class="card m-1 shadow-sm" style="width: 10rem;">
      <a class="jumpPage" data-page="video&bvid={{bvid}}" style="aspect-ratio: 3/4;">
        <img src="{{cover}}" class="card-img-top" loading="lazy" style="width: 10rem;aspect-ratio: 16/9;" alt="">
        <div class="card-body p-0 m-1 lh-1" style="font-size: .6rem;">
          <h3 class="card-title .text-truncate fs-6">{{title}}</h3>
          <p class="card-text .text-truncate">{{content}}</p>
        </div>
        <div class="card-footer p-1 m-0 w-100 position-absolute bottom-0" style="font-size: .5rem;height: 2rem;">
          <span class="me-1">{{time}}</span>
          <span class="me-1"><i class="bi bi-play-btn-fill"></i>{{view}}</span>
          <span class="me-1"><i class="bi bi-heart-fill"></i>{{like}}</span>
        </div>
      </a>
    </div>
  </div>
</body>
<script src="/script/script.js"></script>
<script src="/script/forum.js"></script>

</html>