<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <base target="_parent">
  <meta name="referrer" content="same-origin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/style.css">
  <script src="//unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="//unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <title>MCWXT的个人博客|论坛</title>
</head>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js",
      "tao": "/script/script.js"
    }
  }
</script>
<style>

</style>

<body id="app" class="mx-auto" style="max-width: 800px;">
  <div class="position-relative" style="height: 20rem;background: url('/assets/img/forum.png') 0 -3.5rem;background-size: cover;" class="w-100 border rounded">
    <h1 style="font-size: 5rem;letter-spacing: 1rem;" class="position-absolute top-50 translate-middle-y mx-4 text-light fw-bold">Halo</h1>
  </div>
  <div>
    <div class="m-2">
      <div>
        <div class="rounded-4 bg-light my-2" v-for="message in messages">
          <div class="py-2">
            <div class="position-relative" style="color: #555555;">
              <a class="mx-2" :href="`//halo.mcwxt.top/authors/${message.spec.owner}`">{{message.spec.owner}}</a>
              <div class="mx-2 d-inline">
                <a v-for="category in message.categories" :href="`//halo.mcwxt.top${category.status.permalink}`" style="font-size: .8rem;">{{category.spec.displayName}}</a>
              </div>
            </div>
            <a class="d-block" :href="`//halo.mcwxt.top/archives/${message.spec.slug}`">
              <div class="d-flex justify-content-between" style="height: 5rem;">
                <div class="my-2 px-2" style="width: 65%;">
                  <h3 class="fs-6 text-truncate">{{message.spec.title}}</h3>
                  <p class="text-truncate mb-2 d-block" style="font-size: .8rem;">{{message.status.excerpt}}</p>
                  <span style="font-size: .8rem;">发布于{{timeFormat(message.spec.publishTime)}} 访问{{message.stats.visit}}</span>
                </div>
                <img class="mx-3 rounded d-block" style="width: 5rem;aspect-ratio: 1/1;" loading="lazy" :src="`//halo.mcwxt.top${message.spec.cover}`" onerror="this.remove()">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/script/forum.js" type="module"></script>

</html>