<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <base target="_parent">
  <meta name="referrer" content="same-origin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/style.css">
  <script src="//unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>
  <script type="text/javascript" src="//unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>MCWXT的个人博客|主页</title>
</head>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js",
      "tao": "/script/script.js"
    }
  }
</script>
<style>
  .information>div>span{
    line-height: 1rem;
    display: block;
    margin: 0 .8rem;
    white-space: nowrap;
    font-size: .5rem;
  }
</style>

<body id="app">
  <div>
    <div class="" style="height:8rem;background: url('/assets/img/background.jpg') 0 -3.5rem no-repeat;background-size: cover;">

    </div>
    <div class="d-flex">
      <div>
        <img class="rounded-circle ms-2 position-relative" src="/assets/img/logo.png" style="height: 8rem;top: -.5rem;" alt="">
        <div class="text-center ms-2" style="width: 8rem;">
          <span class="lh-1" style="font-size: 2.2rem">MCWXT</span>
        </div>
      </div>
      <div class="w-100" style="max-width: 15rem;">
        <div class="" style="margin: 2rem 0;">
          <div class="d-flex justify-content-center information">
            <div class="border-end text-center my-2">
              <span class="fs-4">3466</span>
              <span class="">粉丝</span>
            </div>
            <div class="border-end text-center my-2">
              <span class="fs-4">221</span>
              <span>关注</span>
            </div>
            <div class="text-center my-2">
              <span class="fs-4">2万</span>
              <span>获赞</span>
            </div>
          </div>
          <div class="text-center w-100">
            <a class="btn btn-sm w-75 border-0" style="background: #FB7299;color: #FB7299;" href="https://m.bilibili.com/space/3493283118451294"><span class="text-light">关注</span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="p-2 lh-1 text-black-50" style="font-size: .9rem;">
        <span>努力成为一个大UP主ing。感谢您来我的博客站，本人也参与开发：DMX梦幻服，星耀服务器，<a href="//remcbbs.top/">REmcbbs论坛</a>……也欢迎大家来我其他开发的站点</span>
      </div>
    </div>
  </div>
  <div>
    <ul class="nav border-top border-bottom">
      <li class="nav-item"><a class="nav-link active p-0 mx-3" v-tao:page="'/home'">友链</a></li>
      <li class="nav-item"><a class="nav-link p-0 mx-3" v-tao:page="'/forum'">论坛</a></li>
    </ul>
  </div>
  <div>
    <div>
      <div class="m-2">
        <i class="bi bi-link-45deg fs-3"></i>
        <h2 class="d-inline fs-4">友链</h2>
      </div>
      <div class="d-flex justify-content-md-start justify-content-center flex-wrap list-tao-group">
        <a v-for="link in friendLink" class="m-2 shadow-sm rounded d-flex list-tao-item" v-tao:page="`/link?link=${link.link}`" style="width: 22rem;">
          <div class="w-25">
            <img class="rounded-circle m-2" loading="lazy" style="height: 3rem;width: 3rem;object-fit: contain;" :src="link.icon" onerror="this.src='/assets/img/error.svg'">
          </div>
          <div class="lh-1 my-auto">
            <h3 class="fs-5 m-0">{{link.name}}</h3>
            <span class="text-black-50" style="font-size: .7rem">{{link.brief}}</span>
          </div>
        </a>
        <a class="bg-secondary-subtle m-2 shadow-sm rounded d-flex" style="width: 22rem;" href="//github.com/MCWXT">
          <div class="my-2" style="height: 3rem;"></div>
          <div class="lh-1 m-auto">
            <span class="fs-5">Join me!点击加入</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="d-flex list-tao-group justify-content-md-start justify-content-center flex-wrap mt-5">
    <a v-for="link in myLink" class="m-2 shadow-sm rounded list-tao-item" style="width: 22rem;" :href="link.linkimgSrc">
      <div class="d-flex">
        <div class="w-25 mx-2">
          <i :class="`bi ${link.icon}`" style="font-size: 4rem;"></i>
        </div>
        <div class="my-auto">
          <span class="fs-5"><span class="text-primary">{{link.type}}：</span>{{link.content}}</span>
        </div>
      </div>
    </a>
  </div>
</body>
<script src="/script/home.js" type="module"></script>
</html>