<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <base target="_parent">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/style.css">
  <script src="//unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="//unpkg.com/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="//unpkg.com/toastr@2.1.4/toastr.js"></script>
  <title>MCWXT的个人博客|404</title>
</head>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js",
      "tao": "/script/script.js"
    }
  }
</script>
<style>
  
</style>
<body id="app">
  <div class="m-2">
    <h1 class="fs-2 text-center">MC基岩版全版本下载</h1>
    <div class="m-3"><img src="/assets/img/remcbbsBT.png" alt=""></div>
    <div class="alert alert-danger m-2">
      <span>
        <b>仅供体验，请支持正版</b><br>
        正版购买：<a href="https://www.minecraft.net/zh-hans/store/minecraft-android" class="link-success text-decoration-none">官方页面<i class="bi bi-link-45deg"></i></a>
      </span>
    </div>
    <div class="alert alert-warning m-2">
      <span>刷新缓存，以获得最新版本</span>
      <button id="refreshCache" class="btn btn-primary m-1 ms-0 p-1">清除缓存并刷新</button>
    </div>
  </div>
  <div>
    <div class="m-2">
      <table class="table">
        <thead class="border-bottom">
          <tr>
            <th scope="col">版本</th>
            <th scope="col">类型</th>
            <th scope="col">大小</th>
            <th scope="col">下载</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-top" v-for="data in mcapksData">
            <td class="version">{{data.version}}</td>
            <td class="type">
              <span class="badge" v-if="data.beta == 'True'" style="background-color: red;">测试版</span>
              <span class="badge" v-else style="background-color: green;">正式版</span>
            </td>
            <td class="size">{{data.size}}</td>
            <td><a class="btn btn-success download" :data-version="data.version" :data-info_key="info_key"><i class="bi bi-download"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-none">
    
  </div>
</body>
<script src="/script/mcDownload.js" type="module"></script>
</html>